<div>
  <h2>Редактирование события</h2>
  <% if @event.errors.any?%>
      <div>
        <% @event.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
  <% end %>

  <div>
    <%= render 'form', question: @question %>
  </div>
</div>
